.container-family-media{
    margin-left: 8rem;
}

.text-medias {
    text-align: justify;
}

.text-medias h1 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.text-medias p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    max-width: 56rem ;
}

.text-medias iframe {
    width: 60%; 
    height: 24rem;
    border-radius: 2rem;
}

.first-row-media {
    display: flex;
    flex-direction: row;
    gap: 6rem; 
    margin-left: 2rem; 
    flex-wrap: wrap;
}

.second-row-media {
    display: flex;
    flex-direction: row;
    gap: 6rem; 
    margin-left: 2rem; 
    margin-top: 4rem; 
    margin-bottom: 3.125rem; 
    flex-wrap: wrap;
}

.poadcasts {
    display: flex;
    flex-direction: row;
    gap: 6rem; 
    margin-left: 2rem; 
    margin-top: 2rem; 
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.title-poadcast {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    margin-left: 1rem;
}

@media (max-width: 800px) {
      
    .first-row-media {
        gap: 1.7rem;
       text-align: center;
    }
    
}

@media (max-width: 990px) {
      
    .text-medias  {
      margin-top: 8rem;
      max-width: 80%;
      margin-left: 0rem;
    }

    .text-medias {
        text-align: center;
    }
    
}
